<% form_tag search_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p> 
<% end %>


	<table class="table table-hover table-bordered">

		<tbody>
			  <tr>

<!-- 				<th><h4>品牌名(中)</h4></th>
				<th><h4>品牌名(英)</h4></th>
				<th><h4>產品類別</h4></th> -->
				<th><h4>產品ID</h4></th>
				<th><h4>產品名(英)</h4></th>
				<th><h4>產品名(中)</h4></th>

  			  </tr>


			<% @product_branded.each do |product| %>
			<tr>
<!-- 				<td> <%= @brand.brand_name %> </td>
				<td> <%= @brand.brand_cname %> </td>
 				<td> <%= type.type_cname %> </td>  -->
 				<td> <%= product.id %> </td> 
				<td> <%= product.product_name %> </td>
				<td> <%= product.product_cname %> </td>

				<td> <%= link_to("查詢", brand_product_path(product.brand, product))%></td>
				<td> <%= link_to("編輯", edit_brand_product_path(product.brand, product))%></td>
 				<td> <%= link_to("刪除", brand_product_path(product.brand, product), :method => :delete, :confirm => "Are you sure?" ) %> </td>
			</tr>
			<% end %>


		</tbody>
	</table>
