<h1><b>品牌列表</b></h1>

<table class="table table-hover table-bordered">
  <tr>
    <th><h4>品牌ID</h4></th>

    <th><h4>品牌名(英文)</h4></th>

    <th><h4>品牌名(中文)</h4></th>

    <th colspan="3"><%= link_to '新增品牌', new_brand_path, class: "btn btn-primary"%></th>

    </tr>

  <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.id %></td>
      <td><%= brand.brand_name %></td>
      <td><%= brand.brand_cname %></td>
      <td><%= link_to '查詢', brand_path(brand) %></td>
      <td>
        <% if !current_user.blank? %>
        <%= link_to '編輯', edit_brand_path(brand) %>
        <% end %>
      </td>
      <td>
        <% if !current_user.blank? %>
        <%= link_to '刪除', brand_path(brand), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>