<h1><b><%= @product.product_cname %> 產品細節</b></h1>
<div class="span12">
  <table class="table table-striped table-bordered">
	  <tr>
	    <th><h4>品牌名(英):</h4></th>   <td><h4><%= @brand.brand_name %></h4></td>
	  </tr>
	  <tr>
	    <th><h4>品牌名(中):</h4></th>    <td><h4><%= @brand.brand_cname %></h4></td>
	  </tr>
	  <tr>
	    <th><h4>產品類別:</h4></th>    <td><h4><%= @type.type_cname %></h4></td>
	  </tr>
	  <tr>
	    <th><h4>產品名(英):</h4></th>    <td><h4><%= @product.product_name %></h4></td>
	  </tr>
	  <tr>
	    <th><h4>產品名(中):</h4></th>    <td><h4><%= @product.product_cname %></h4></td>
	  </tr>
  </table>

<br>
<%= render 'list' %>
<br>

<%= link_to '回品牌列表', brand_path(@brand) %>
